<style>
<body>{}
.Mainblock{
	
	margin:auto;
	background-image: url("https://previews.123rf.com/images/kran77/kran771512/kran77151200020/49213335-abstract-vector-technology-background-illustration.jpg");
}

.block1{
	width:1000px;
	height:150px;
	display:inline-block;
	margin-top: 10px;
	margin-left:110px;
	margin-right:20px;
}
.menu li{
	display:inline-block;
	float:right;
	padding: 4px;
font-size: 1.3em;
font-family: arial black;
margin-left: 90px;
background-color:khaki;

}
h1{
	
	color:khaki;
	
	font-family:Times New Roman;
}
.block2{
	width:800px;
	height:400px;
	display:inline-block;
	padding-bottom:100px;
	margin-left: 10px;

}
.photo,.img1{
height: 400px;
	width: 400px;
	}
.text{
	display: inline;
	color:red;
	vertical-align: bottom;
	width:380px;
	float:right;
	margin-top: -370px;
	margin-left: 500px;
	/*font-size: 1.2em;*/
}
.img2{

	width:200px;
	height:150px;
	display:inline-block;
	margin-left: 10px;
	margin-top: 10px;
}
.img3{

	width:200px;
	height:150px;
	display:inline-block;
	margin-left: 320px;
	margin-top: -260px;
}
.img4{

	width:200px;
	height:150px;
	display:inline-block;
	margin-top: 40px;
	margin-left: 10px;
}
.img5{

	width:200px;
	height:150px;
	display:inline-block;
	margin-left: 320px;
	margin-top: -250px;
}
.block3{
	width:600px;
	height:400px;
	display:inline-block;
	}
	.img6{

	width:200px;
	height:150px;
	display:inline-block;
	margin-left: 10px;
	margin-top: 10px;
}
.img7{

		width:200px;
	height:150px;
	display:inline-block;
	margin-left: 330px;
	margin-top: -260px;
}
	}
	.img7, .img8{
		display:inline-block;
	}
	.img8{
	width:200px;
	height:150px;
	display:inline-block;
	margin-left: 10px;
	margin-top: 40px;
}
.img9{

		width:200px;
	height:150px;
	display:inline-block;
	margin-left: 330px;
	margin-top: -250px;

}
	
	.sblock{
		display:inline-block;
		width:300px;
		height:200px;
		margin-left:15px;

	}
	.sblock1{
		display:inline-block;
		width:300px;
		height:200px;
		margin-left: 680px;
		margin-top: -610px
	}
	h2{
		padding: 4px;
	font-size: 2.3em;
	font-family: arial black;
	color: khaki;
	margin-left: 600px;
	
	}
@media(max-width: 640px)
{
	#block1{
		width:1200px;
		height:300px;
		
	}
	#block2{
		width:1600px;
		height:800px;
		
	}
	#block3{
		width:1200px;
		height:400px;
		
	}
	.photo,.img1{
	height: 800px;
	width: 800px;
	}
	.text{
		width:760px;
	}
	.img2{

	width:400px;
	height:300px;
	}
	.img3{

	width:400px;
	height:300px;
}
.img4{

	width:400px;
	height:300px;
}
.img5{

	width:400px;
	height:300px;
}
.img6{

	width:400px;
	height:300px;
}
.img7{

	width:400px;
	height:300px;
}
.img8{

	width:400px;
	height:300px;
}
.img9{

	width:400px;
	height:300px;
}
.sblock{
		width:600px;
		height:800px;
	}
	.sblock1{
		
		width:600px;
		height:400px;

}
</style>