.mainblock{
	margin-left: 200px;
	width:1000px;
	height:1100px;
	border: 3em red;
	/*background-image: url( "https://images.unsplash.com/photo-1460602594182-8568137446ce?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c6a89cf0d31c8ed23b35aaf9a119a9f5&w=1000&q=80");*/
	background-image: url("http://www.teacherfiles.com/clipart/xbackgrounds/books_1.jpg");
}

h1{
	margin-left: 100px;
	display: :center;
	color:white;
	font-size: 4em;
}

ol{
	
	font-size: 1.5em;
}
label{
	color:/*yellow*/blue;
}
.firstbar{
	float: right;
}
.title{
	background-image: url("https://png.pngtree.com/thumb_back/fh260/back_pic/02/68/42/5957908fe6d9740.jpg");
}
/*.img1{
	background-color: blue;
}*/